/* CSS code for student module */

header {
	background-color: #008080;
	color: white;
	padding: 10px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav li {
	float: left;
}

nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav li a:hover {
	background-color: #007777;
}

main section {
	margin-top: 20px;
}

h2 {
	color: #008080;
}

form label {
	display: inline-block;
	width: 80px;
}

form input[type="text"], form select {
	width: 200px;
	padding: 5px;
	margin-bottom: 10px;
}

form button[type="submit"] {
	background-color: #008080;
	color: white;
	padding: 10px;
	border: none;
	cursor: pointer;
}

footer {
	background-color: #F8F8F8;
	padding: 10px;
	text-align: center;
}